In [16]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

# Load the CSV file into a Pandas DataFrame
healthcare_diabetes_df = pd.read_csv(r'C:\Users\leors\Project_3\Healthcare-Diabetes.csv')

In [17]:
# Display the first few rows of the DataFrame to examine the data
healthcare_diabetes_df.head()

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1

In [19]:
row_count_original = healthcare_diabetes_df.shape[0]
row_count_original

2768

In [32]:
unique_ids_count = healthcare_diabetes_df['Id'].nunique()
unique_ids_count

2768

In [21]:
# Drop the first column (assuming it's named 'ID', you should replace with the actual column name)
healthcare_diabetes_df_drop_uniqueid = healthcare_diabetes_df.iloc[:, 1:]
healthcare_diabetes_df_drop_uniqueid

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
2763,2,75,64,24,55,29.7,0.370,33,0
2764,8,179,72,42,130,32.7,0.719,36,1
2765,6,85,78,0,0,31.2,0.382,42,0
2766,0,129,110,46,130,67.1,0.319,26,1
2767,2,81,72,15,76,30.1,0.547,25,0

In [23]:
# Count the number of rows in healthcare_diabetes_df_drop_uniqueid
row_count_modified = healthcare_diabetes_df_drop_uniqueid.shape[0]
row_count_modified

2768

In [24]:
# Find duplicate rows in the original DataFrame (healthcare_diabetes_df)
duplicate_rows = healthcare_diabetes_df[healthcare_diabetes_df.duplicated(keep='first')]

if not duplicate_rows.empty:
    print("Duplicate rows found in the original DataFrame:")
    print(duplicate_rows)
else:
    print("No duplicate rows found in the original DataFrame.")

No duplicate rows found in the original DataFrame.

In [25]:
# Find duplicate rows in the modified DataFrame (healthcare_diabetes_df_drop_uniqueid)
duplicate_rows_modified = healthcare_diabetes_df_drop_uniqueid[healthcare_diabetes_df_drop_uniqueid.duplicated(keep='first')]

if not duplicate_rows_modified.empty:
    print("Duplicate rows found in the modified DataFrame:")
    print(duplicate_rows_modified)
else:
    print("No duplicate rows found in the modified DataFrame.")

Duplicate rows found in the modified DataFrame:
      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
769             0       84             82             31      125  38.2
770             0      145              0              0        0  44.2
771             0      135             68             42      250  42.3
772             1      139             62             41      480  40.7
773             0      173             78             32      265  46.5
...           ...      ...            ...            ...      ...   ...
2763            2       75             64             24       55  29.7
2764            8      179             72             42      130  32.7
2765            6       85             78              0        0  31.2
2766            0      129            110             46      130  67.1
2767            2       81             72             15       76  30.1

      DiabetesPedigreeFunction  Age  Outcome
769                      0.233   23        0
770                      0.630   31        1
771                      0.365   24        1
772                      0.536   21        0
773                      1.159   58        0
...                        ...  ...      ...
2763                     0.370   33        0
2764                     0.719   36        1
2765                     0.382   42        0
2766                     0.319   26        1
2767                     0.547   25        0

[1990 rows x 9 columns]

In [26]:
duplicate_rows = healthcare_diabetes_df_drop_uniqueid[healthcare_diabetes_df_drop_uniqueid.duplicated(keep='first')]
duplicate_count = duplicate_rows.shape[0]
duplicate_count

1990

In [27]:
unique_rows = healthcare_diabetes_df_drop_uniqueid.drop_duplicates()
unique_count = unique_rows.shape[0]
unique_count

778

In [34]:

Edited_helathcare_diabetes_df = healthcare_diabetes_df_drop_uniqueid.drop_duplicates()
Edited_helathcare_diabetes_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
2332,1,100,62,0,0,64.4,0.152,36,0
2333,0,163,40,23,64,40.7,0.322,33,0
2334,6,139,84,37,0,50.7,0.320,50,1
2335,2,167,44,30,140,52.7,0.452,28,0
2336,3,162,0,110,215,48.7,0.520,24,0

In [36]:
Edited_helathcare_diabetes_df.to_csv(r'C:\Users\leors\Project_3\Edited_Healthcare-Diabetes.csv', index=False)